*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.main-vh{
    height: 100vh;
    display: flex;
    background-image: url(images/cool-background.png);
}
.leka{
    text-align: left;
    width: 50%;
    /* height: 100%; */
    left: 0;
    margin: 18px 0%  18px 10px;
    padding: 50px;
}
.leka p{
    text-align: justify;
    margin: 5px 5% 30px;
    font-size: 20px;
}
.leka h1{
    margin: 18px 5% 40px;
    font-size: 40px;
}
.leka h3{
    margin: 18px 5% 20px;
    font-size: 22px;
}
.leka a{
    color: #fff;
    font-weight: 700;
    padding: 10px 40px;
    margin: 5%;
    text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient(rgb(255, 123, 0),orange);
}
.orange{
    color: orange;
}

.stirchitro{
    width: 50%;
    right: 0;
    text-align: center;
}
.stirchitro img{
    width: 80%;
    margin-top: 50px;
    /* height: 400px; */
    
}

/* 2nd section */
.leka2{
    text-align: left;
    width: 50%;
    /* height: 100%; */
    left: 0;
    margin: 18px 0%  18px 10px;
    padding: 130px 80px 80px;
}
.leka2 p{
    text-align: justify;
    margin: 5px 5% 30px;
    font-size: 20px;
}
/* .leka2 h1{
    margin: 18px 5% 40px;
    font-size: 40px;
} */
.leka2 h3{
    margin: 50px 5% 40px;
    font-size: 22px;
}
.leka2 a{
    color: #fff;
    font-weight: 700;
    padding: 10px 40px;
    margin: 5%;
    text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient(rgb(255, 123, 0),orange);
}
